.hero {
  position: relative;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    img {
      @include fullImage;
    }
  }
  &__inner {
    min-height: 100vh;
    padding: 300px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &-content {
      width: 100%;
      position: relative;
      text-align: center;
      max-width: 496px;
      margin: 0 auto;
    }
    &-title {
      position: relative;
      padding-bottom: 15px;
      margin-bottom: 10px;
      &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: $white;
        content: "";
      }
    }
    &-circle {
      width: 190%;
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(-50%, -50%);
      pointer-events: none;

      img {
        width: 100%;
      }
    }
    h3 {
      margin-bottom: 24px;
    }
  }
}
// 930px
@mixin hero-md-lg {
  .hero {
    &__inner {
      padding: 200px 0;
      &-title {
        &::before {
          height: 3px;
        }
      }
      &-content {
        max-width: 400px;
      }
      p {
        font-size: 22px;
      }
    }
  }
}
// 540px
@mixin hero-xsm-sm {
  .hero {
    &__bg {
      img {
        object-position: 55%;
      }
    }
    &__inner {
      padding: 150px 0;
      &-title {
        padding-bottom: 10px;
        max-width: 250px;
        margin: 0 auto 10px;
      }
      &-content {
        width: 75%;
      }
      &-circle {
        width: 200%;
      }
      h3 {
        margin-bottom: 12px;
      }
      p {
        font-size: 15px;
        line-height: 140%;
      }
    }
  }
}
.artists {
  padding: 40px 0 80px;
  .auto__container {
    max-width: 1470px;
  }
  &__inner {
    &-title {
      margin-bottom: 60px;
    }
    &-link {
      display: flex;
      justify-content: flex-end;
      a {
        font-family: $mainFont;
        background-color: transparent;
        font-weight: 400;
        font-size: 25px;
        line-height: 35px;
        color: $white;
        text-align: end;
        &:hover {
          opacity: 1;
          color: $primary;
        }
      }
    }
    &-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 -24px;
      position: relative;
      padding-top: 24px;
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        background: rgba(240, 39, 250, 0.25);
        filter: blur(250px);
        width: 774px;
        height: 774px;
        transform: translate(-50%, -50%);
        content: "";
        border-radius: 50%;
        pointer-events: none;
      }
    }
  }
  &Item {
    width: calc(50% - 48px);
    margin: 24px;
    max-width: 506px;
    cursor: pointer;
    &:hover {
      img {
        transform: scale(1.1) rotate(-1deg);
      }
    }
    &__image {
      position: relative;
      padding-bottom: 73%;
      margin-bottom: 4px;
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% + 6px);
        height: calc(100% + 6px);
        content: "";
        background: linear-gradient(180deg, #f027fa 12.81%, #2fe7fc 100%);
        transform: translate(-50%, -50%);
      }
      &-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        @include fullImage;
        transition: 0.3s ease;
      }
    }
  }
}
// 930px
@mixin artists-md-lg {
  .artists {
    padding: 40px 0 80px;
    &__inner {
      &-title {
        margin-bottom: 40px;
      }
      &-link {
        a {
          font-size: 20px;
        }
      }
      &-row {
        margin: 0 -10px;
        padding-top: 15px;
        &::before {
          width: 600px;
          height: 600px;
        }
      }
    }
    &Item {
      width: calc(50% - 20px);
      margin: 10px;
      &__image {
        &::before {
          width: calc(100% + 4px);
          height: calc(100% + 4px);
        }
      }
    }
  }
}
// 650px
@mixin artists-sm-md-extra {
  .artists {
    padding: 40px 0;
    &__inner {
      &-title {
        margin-bottom: 24px;
      }
      &-link {
        a {
          font-size: 17px;
        }
      }
      &-row {
        flex-direction: column;
        margin: 0;
        &::before {
          width: 800px;
          height: 800px;
        }
      }
    }
    &Item {
      width: 100%;
      max-width: unset;
      margin: 0 0 30px 0;
      &:last-child {
        margin: 0;
      }
    }
  }
}
.venue {
  padding: 50px 0;
  &__inner {
    &-title {
      text-align: center;
      margin-bottom: 140px;
    }
    &-row {
      display: flex;
      justify-content: space-between;
    }
    &-col {
      width: calc(40% - 10px);
      max-width: 463px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &-image {
      padding-bottom: 64%;
      position: relative;
      height: 100%;
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        content: "";
        background: linear-gradient(180deg, #f027fa 12.81%, #2fe7fc 100%);
        transform: translate(-50%, -50%);
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        @include fullImage;
        z-index: 2;
      }
      &-wrapper {
        width: calc(60% - 10px);
        max-width: 720px;
      }
    }
  }
  &Item {
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
    &.light {
      .venueItem {
        &__date {
          border-color: $primary;
        }
      }
    }
    &:last-child {
      margin: 0;
    }
    &:hover {
      opacity: 1;
      .venueItem__inner {
        background-color: $main-dark;
      }
    }
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      content: "";
      background: linear-gradient(90deg, #f027fa 1.3%, #2fe7fc 100%);
      transform: translate(-50%, -50%);
      z-index: 1;
    }
    &__inner {
      width: 100%;
      height: 100%;
      background-color: $main;
      display: flex;
      padding: 15px 15px 15px 30px;
      position: relative;
      z-index: 2;
      transition: 0.3s ease;
    }
    &__date {
      width: 35%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-right: 15px;
      border-right: 3px solid $pink;
      h4 {
        display: flex;
        align-items: flex-end;
        margin-bottom: 15px;
      }
    }
    &__location {
      padding-left: 16px;
      width: 65%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h5 {
        margin-bottom: 6px;
      }
      p {
        font-weight: 600;
      }
    }
  }
}
// 1380px
@mixin venue-xxxlg-xxxxlg {
  .venue {
    &__inner {
      &-title {
        margin-bottom: 100px;
      }
    }
  }
}
// 1024px
@mixin venue-lg-xlg {
  .venue {
    &__inner {
      &-title {
        margin-bottom: 70px;
      }
    }
    &Item {
      &__inner {
        padding: 10px 10px 10px 15px;
      }
      h4 {
        margin-bottom: 10px;
      }
    }
  }
}
// 930px
@mixin venue-md-lg {
  .venue {
    &__inner {
      &-image {
        &-wrapper {
          width: calc(55% - 10px);
        }
      }
      &-col {
        width: calc(45% - 10px);
      }
    }
  }
}
// 750px
@mixin venue-sm-md {
  .venue {
    &__inner {
      &-row {
        flex-direction: column;
      }
      &-image {
        &-wrapper {
          width: 100%;
          max-width: unset;
        }
      }
      &-col {
        width: 100%;
        max-width: unset;
        padding-top: 50px;
      }
    }
    &Item {
      &__inner {
        padding: 20px 10px;
      }
      h4 {
        font-size: 45px;
      }
      h5 {
        font-size: 22px;
      }
      p {
        max-width: 260px;
        &.sm {
          font-size: 16px;
        }
      }
    }
  }
}
// 540px
@mixin venue-xsm-sm {
  .venue {
    padding: 40px 0 20px;
    &__inner {
      &-title {
        margin-bottom: 30px;
      }
      &-col {
        padding-top: 30px;
      }
    }
    &Item {
      &__inner {
        padding: 10px;
      }
      &__date {
        border-width: 2px;
      }
      h4 {
        font-size: 35px;
      }
      h5 {
        font-size: 18px;
      }
      p {
        max-width: 260px;
        &.sm {
          font-size: 13px;
        }
      }
    }
  }
}
.playlist {
  padding: 100px 0 90px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &-title {
      width: calc(35% - 10px);
      max-width: 440px;
    }
    &-image {
      width: calc(65% - 10px);
      max-width: 700px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &::before {
        width: 514px;
        height: 514px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(240, 39, 250, 0.25);
        filter: blur(250px);
        content: "";
        border-radius: 50%;
        pointer-events: none;
      }
      &::after {
        width: 390px;
        height: 390px;
        position: absolute;
        top: 70%;
        right: 0;
        background: rgba(47, 231, 252, 0.21);
        filter: blur(250px);
        content: "";
        border-radius: 50%;
        pointer-events: none;
      }
      img {
        width: 100%;
        position: relative;
        z-index: 2;
      }
    }
  }
}
// 930px
@mixin playlist-md-lg {
  .playlist {
    padding: 70px 0;
    &__inner {
      flex-direction: column;
      &-title {
        width: 100%;
        max-width: unset;
        margin-bottom: 40px;
        h2 {
          display: inline-block;
        }
      }
      &-image {
        width: 100%;
        max-width: unset;
        &::before {
          width: 400px;
          height: 400px;
        }
        &::after {
          width: 320px;
          height: 320px;
        }
      }
    }
  }
}
// 540px
@mixin playlist-xsm-sm {
  .playlist {
    padding: 40px 0 20px;
    &__inner {
      &-title {
        margin-bottom: 24px;
      }
    }
  }
}
.tickets {
  padding: 45px 0 90px;
  &__inner {
    &-title {
      text-align: center;
      margin-bottom: 45px;
    }
    &-row {
      display: flex;
      justify-content: space-between;
      max-width: 720px;
      margin: 0 auto;
    }
  }
  &Item {
    width: calc(50% - 10px);
    max-width: 337px;
    position: relative;
    &.light {
      .ticketsItem {
        &__price {
          border-color: $primary;
        }
      }
    }
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      content: "";
      background: linear-gradient(90deg, #f027fa 1.3%, #2fe7fc 100%);
      transform: translate(-50%, -50%);
      z-index: 1;
    }
    &__inner {
      width: 100%;
      height: 100%;
      background-color: $main-dark;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px 25px 30px 25px;
      position: relative;
      z-index: 2;
      transition: 0.3s ease;
    }
    &__price {
      width: 100%;
      padding-bottom: 20px;
      border-bottom: 2px solid $pink;
      text-align: center;
      margin-bottom: 15px;
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    h5 {
      margin-bottom: 30px;
    }
  }
}
// 650px
@mixin ticket-sm-md-extra {
  .tickets {
    padding: 45px 0 60px;
    &Item {
      width: calc(50% - 7px);
      &__inner {
        padding: 15px 18px 24px 18px;
      }
      &__price {
        padding-bottom: 10px;
        margin-bottom: 10px;
      }
      h5 {
        margin-bottom: 20px;
      }
    }
  }
}
// 540px
@mixin ticket-xsm-sm {
  .tickets {
    padding: 40px 0 60px;
    &__inner {
      &-title {
        margin-bottom: 24px;
      }
      &-row {
        flex-direction: column;
      }
    }
    &Item {
      width: 100%;
      max-width: unset;
      margin: 0 0 20px 0;
      &:last-child {
        margin: 0;
      }
      &__inner {
        padding: 20px 30px;
      }
      &__price {
        padding-bottom: 15px;
        max-width: 300px;
        margin: 0 auto 20px;
      }
      h5 {
        margin-bottom: 24px;
      }
    }
  }
}
